$black: #58595b;
$yellow: #ed8f03;
$yellow-normal: #fcb022;
$white: #ffffff;
$yellow-light: #fac04f;
$grey: #ebebeb;
$grey-light: #acacac;
$grey-normal: #959595;
$red: #ed1c24;
$yellow-darken: #d68f1c;
$green: #8dc63f;
$grey-placeholder: #e8e9e9;

@mixin transition{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}
@mixin border-radius-null{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}
@mixin border-radius-value{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
@mixin box-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
@mixin background-size {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@mixin placeholder-white{
	::-webkit-input-placeholder {
		color: darken($white, 8%);
	}
	:-moz-placeholder {
		color: darken($white, 8%);
	}
	::-moz-placeholder {
		color: darken($white, 8%);
	}
	:-ms-input-placeholder {  
		color: darken($white, 8%);
	}
}
@mixin border-radius-value-high{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}
/* GENERAL */
@font-face{
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face{
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-style: italic;
}
@font-face{
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
}
html, body {
  height: 100%; 
}
body{
	font-family: 'Open Sans', sans-serif;
	color: $black;
}
.no-margin {
  margin: 0; 
}
.no-padding {
  padding: 0; 
}
.default{
	border: 1px solid $yellow-darken;
}
.default-grey{
	border: 1px solid $grey-placeholder;
}
.error{
	border: 1px solid $red;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.add-margin-top{
	margin-top: 20px;
}
.selected{
	background: $grey-normal;
	color: $white;
}
.flash-manage{
	.alert{
		margin-top: 20px;
		margin-bottom: 0;
	}
}
/* END: GENERAL */

/* SECTION-LOGIN */
.section-login{
	height: 100%;	
	background: url('../images/admin/bg-login.png') no-repeat center center fixed;
	@include background-size;
	.login{
		margin: 0 auto;		
		padding-top: 80px;
		max-width: 320px;
		color: $white;
		a{
			display: block;
			img{
				display: block; 
				margin: 0 auto;
			}
		}
		h3{
		    margin: 0;
		    font-size: 1.7em;
		    padding: 70px 0 30px 0;
		    font-weight: bold;
		}
		.form-login{
			.form-group{
				position: relative;
				@include placeholder-white;				
				margin-bottom: 20px;
				img{
				    position: absolute;
				    top: 13px;
				    left: 15px;				    
				}
				.form-control {
					color: $white;
					@include border-radius-null;
					padding-left: 38px;	
				    font-size: 1.25em;
				    height: 42px;					    
				    @include box-shadow;
			    	background-color: $yellow-darken;			    
				    &:focus{
						border: 1px solid $yellow-darken;
				    }
				}			
			}
			.btn-login{
				display: block;
			    width: 100%;
			    background: $white;
			    color: $yellow;
			    font-weight: bold;
			    margin-bottom: 40px;
			    padding: 8px;
			    font-size: 1.25em;
			    &:hover, &:focus{
			    	outline: none;
			    	@include transition;
			    	background: darken($white, 8%);
			    }
			}
		}
	}
}
/* END: SECTION-LOGIN */

/* NAVBAR */
.navbar-admin{
	.left-side{
		padding-right: 0;
		padding-left: 0;
		border-bottom: 1px solid $white;
		.navbar-header{
			background-color: $white;
		    width: 100%;
			.icon-bar{
				background-color: $yellow;
			}
			.navbar-brand{
				background: $yellow;		
				width: 100%;
				height: auto;
				margin-left: 0;
				> img{
					display: block;
				}
			}		
		}
	}
	.right-side{
		height: 66px;
		line-height: 65px;	
		border-bottom: 1px solid $white;
		background-color: $white;	
		h4{
			margin: 0;
			line-height: 65px;
			float: left;
		}
		.top-nav{
			li{
				a{
					line-height: 65px;
					padding: 0 15px;
					color: $black;
					display: inline-block;
					&:hover, &:active{
						@include transition;
						background: $white;
						color: $yellow;
					}
					>img{
						margin-right: 12px;
						width: 37px;
						height: 37px;							
					}
				}
				&.login-info{
					span{
						padding-left: 15px;
						padding-right: 5px;
					}
					.admin-username{
						color: $yellow;
						padding-left: 0;
						padding-right: 15px;
					}
				}
			}
		}
	}
}
/* END: NAVBAR */

/* SIDEBAR */
.sidebar {
	position: fixed;
	top: 66px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px 0;
	overflow-x: hidden;
	overflow-y: auto; 
	background: url('../images/admin/bg-panel.png'); 	
	@include background-size;
	.nav-sidebar{
		li{
			&:hover, &.active{
				a{
					outline: none;
					@include transition;
					background-color: $yellow-light;
				}
			}			
			a{
				position: relative;				
				color: $white;
				&:hover, &:active, &:focus{
					outline: none;
					@include transition;
					background-color: $yellow-light;
				}				
				&._accepted-reservation, &._user, &._restaurant, &._flux-user-balance, &._flux-restaurant-balance, &._verify-payment, &._income{
					padding-left: 50px;		
					>img{
						left: 18px;
						position: absolute;
					}			
					.img-flux-sidebar{
						top: 8px;
						left: 15px;
					}
					.img-restaurant-sidebar{
						left: 16px;
					}
					.img-verify-sidebar{
						left: 14px;
					}
					.img-income-sidebar{
						top: 5px;
						left: 13px;
					}
				}
			}
		}
	}
}
/* END: SIDEBAR */
@media screen and (max-width: 767px){
	.navbar-admin{
		.left-side{
			.navbar-header{
				background: $yellow;
				.icon-bar{
					background-color: $white;
				}
				.navbar-toggle{
					padding-top: 19px;
				}
				.navbar-brand{
					width: auto;
				}
			}
		}
		.right-side{
			padding: 0;
			border-bottom: none;
			background-color: transparent;				
			.navbar-collapse{
				background: $yellow;
			}
			h4{
				color: $white;
				float: none;
				line-height: normal;
				padding: 10px 16px 10px 0;
			}
			.top-nav{
				li{
					line-height: normal;
					a{
						line-height: normal;
						padding: 10px 16px;
						color: $white;
						&:hover{
							@include transition;
							background-color: $yellow;
							color: darken($white, 8%);
						}
					}
					&:nth-child(2){
						display: none;
					}
					&.login-info{
						span{
							color: $white;
						}
						.admin-username{
							color: $white;
						}
					}
				}
			}			
		}
	}
	.sidebar {
  		display: none;
	}
}

/* MAIN GENERAL */
.main-general{
	position: relative;
	margin-top: 46px;
	background-color: $grey;
	.main-content{
		.left-container{
			padding-left: 0;
			.notification-container{
				background-color: $white;
				h3{
					position: relative;
					padding: 20px 0 15px 40px;
					margin: 0;
					img{
						position: absolute;
					    left: 15px;
					    top: 25px;				
					}
				}
				.badge{
					background: $red;
					font-weight: normal;
					padding: 3px 6px;
					margin-left: 2px;			
				}
				.separator{
				    border-bottom: 1px solid $grey;
				}
				.notification-group-container{
					height: 700px;
					.reservation{
						padding: 10px 0;
						position: relative;
						border-bottom: 1px dashed $grey;
						.reservation-detail{
							padding-left: 45px;
							float: left;
							h5{
								margin: 0;
								padding-top: 5px;
							}
							p{
								margin: 0;
								padding-top: 5px;
								padding-bottom: 5px;
								font-style: italic;
								font-size: 0.9em;
							}
							.new-reserve{
								position: absolute;
								top: 30%;
								left: 15px;	
							}
						}
						.btn-detail{
							margin: 15px 15px 0 15px;
							float: right;
							position: relative;
							background: $green;
							color: $white;
							font-weight: bold;
							@include border-radius-value-high;		
						    padding: 4px 30px 4px 25px;		    
							&:hover, &:focus{
								outline: none;
								@include transition;
								background: darken($green, 8%);
							}
							img{
								position: absolute;
								right: 15px;
								top: 37%;				
							}
						}
					}
				}				
			}
		}
		.right-container{
			padding-right: 0;
			.detail-reservation-container{
				display: none;
				background-color: $white;
				h3{
					position: relative;
					padding: 20px 0 15px 40px;
					margin: 0;
					img{
						position: absolute;
					    left: 15px;
					    top: 29px;				
					}
				}	
				.separator{
					border-bottom: 1px solid $grey;
				}	
				.detail-reservation-group-container{
					margin: 20px 15px 20px 40px;
					.form-group{
						label{
							margin-bottom: 0;
						}
						.info-detail{
							font-weight: normal;
							width: 42%;
						}
						.result-detail{
							span{
								font-weight: bold;
							}
						}
					}
					.qrcode-container{
						width: 150px;
						.thumbnail{
							display: inline-block;
							margin-bottom: 0;
						}
						h5{
							margin: 0;
							padding: 5px 0 10px 0;
							text-align: center;
						}						
					}
				}		
			}
		}		
		.margin-adapt2{
			margin-bottom: 20px;
		}
		.report-database-container, .flux-balance-container, .verify-payment-container, .income-container{
			background-color: $white;
			margin-bottom: 20px;	
			height: 82vh;		
			.report-header-container, .flux-header-container, .verify-header-container, .income-header-container{
				padding: 20px 0;
				.left-side{
					h3{
						position: relative;
						margin: 0;
						padding: 0 0 0 25px;
						float: left;
						img{
							position: absolute;
							left: 0px;
						    top: 6px;						
						} 
						.img-fill-black{
							top: 2px;
						}   		
						.img-verify-black, .img-income-black{
							top: 6px;
						}				
					}
					.button-group{
						float: right;
						.btn-delete{
							margin: 2px 0;
							position: relative;
							background: $grey-normal;
							color: $white;
							padding: 4px 20px 4px 30px;
							font-weight: bold;
							@include border-radius-value-high;		
							&:hover, &:focus{
								outline: none;
								@include transition;
								background: darken($grey-normal, 8%);
							}
							img{
								position: absolute;
								top: 8px;
								left: 14px;
							}						
						}
						.btn-add, .btn-fill, .btn-flux, .btn-approve, .btn-decline, .btn-accept{
							@extend .btn-delete;
							margin-right: 5px;
						}
						.btn-fill{
							.img-fill{
								top: 1px;
								left: 8px;
							}
						}
						.btn-flux{
							.img-flux{
							    left: 8px;
							    top: 2px;
							}
						}
						.btn-verify{
							.img-verify{
							    top: 6px;
							    left: 9px;								
							}							
						}
						.btn-decline{
							padding: 4px 20px;
							background-color: $red;
							margin-right: 0;
							&:hover, &:focus{
								outline: none;
								@include transition;
								background: darken($red, 8%);
							}							
						}
						.btn-approve, .btn-accept{
							padding: 4px 20px;
							background-color: $green;
							&:hover, &:focus{
								outline: none;
								@include transition;
								background: darken($green, 8%);
							}							
						}
						.form-delete-restaurant-management, .form-delete-user, .form-put-flux-user-balance, .form-put-flux-restaurant-balance{
							float: right;
						}
						.form-accept-restaurant-management, .form-put-verify-payment{
							float: left;
						}
					}
				}
				.right-side{
					padding-left: 0;
					h4{
						display: inline-block;
						margin: 0;
						line-height: 34px;
						font-size: 1em;
					}
					.form-sort-user-database, .form-sort-restaurant-management-database{
						width: 34%;
						display: inline-block;
						.sort-form-control{
							font-size: 0.9em;
							border: 1px solid $black;
							@include box-shadow;
							&:focus{
								border: 1px solid $black;
							}						
						}
					}
					.form-search-database{
						display: inline-block;
						margin: 0 20px;
						float: right;
						.search-form-control{
							font-size: 0.9em;
							display: inline-block;
							@include box-shadow;
							@include border-radius-value-high;	
							border: 1px solid $black;
							&:focus{
								border: 1px solid $black;
							}						
						}
					}
				}
			}
			.report-body-container, .flux-body-container, .verify-body-container, .income-body-container{
				border-top: 1px solid $grey;
				padding-top: 10px;
				.table-user-database-report, .table-flux-user-balance, .table-flux-restaurant-balance, .table-verify-payment{
					font-size: 0.9em;
					thead{
						th{
							padding-left: 15px;
							padding-right: 15px; 
						}
					}
					tbody{
						tr{
							&:hover{
								background: $grey-normal;
								color: $white;
							}
							td{
								cursor: pointer;
								padding-left: 15px;
								padding-right: 15px; 
							}
						}
					}
				}
				.table-restaurant-database-report{
					@extend .table-user-database-report;
				}
				.table-income{
					font-size: 0.9em;
					thead{
						th{
							padding-left: 15px;
							padding-right: 15px; 
						}
					}
					tbody{
						tr{
							td{
								padding-left: 15px;
								padding-right: 15px; 
							}
						}
					}					
				}
			}
			.report-footer-container, .flux-footer-container, .verify-footer-container, .income-footer-container{
				border-top: 1px solid $grey;
				background-color: $white;
				padding: 10px 15px;
				h4, h2{
					margin: 0;
				}
				h4{
					padding: 15px 0 5px 0;
					font-weight: normal;
				}
				.user-database-report-pagination{
					text-align: right;
					.pagination{
						margin-bottom: 0;
						li{
							&.active{
								span{
									border: 1px solid $grey;
									border-radius: 50%;
									color: $white;
									background: $yellow;						
								}
							}
							&:hover, &:focus{
								a{
									border: 1px solid $grey;
									color: $white;
									background: $yellow;
								}
							}
							&.disabled{
								span{
									border: 1px solid white;
									color: $black;
								}
								&:hover, &:focus{
									span{
										border-radius: 50%;
										background: $white;
									}
								}
							}
							a{
								@include border-radius-null;
								color: $black;
								border-radius: 50%;
								margin-left: 2.5px;
								border: 1px solid $white;
								&:hover, &:focus, &.active{
									@include box-shadow;
									@include transition;
									outline: none;
									color: $white;
									background: $yellow;					
								}
							}							
						}
					}
				}
				.restaurant-database-report-pagination, .flux-balance-pagination, .verify-payment-pagination, .income-pagination{
					text-align: right;
					.pagination{
						margin-bottom: 0;
						li{
							&.active{
								span{
									border: 1px solid $grey;
									border-radius: 50%;
									color: $white;
									background: $yellow;						
								}
							}
							&:hover, &:focus{
								a{
									border: 1px solid $grey;
									color: $white;
									background: $yellow;
								}
							}
							&.disabled{
								span{
									border: 1px solid white;
									color: $black;
								}
								&:hover, &:focus{
									span{
										border-radius: 50%;
										background: $white;
									}
								}
							}
							a{
								@include border-radius-null;
								color: $black;
								border-radius: 50%;
								margin-left: 2.5px;
								border: 1px solid $white;
								&:hover, &:focus, &.active{
									@include box-shadow;
									@include transition;
									outline: none;
									color: $white;
									background: $yellow;					
								}
							}							
						}
					}					
				}
			}
			.info-report-unshow, .info-flux-unshow, .info-verify-unshow, .info-income-unshow{
				height: 77.5vh;
				padding: 0 20px;
			    vertical-align: middle;
				display: none;
			}			
		}	
	}
}

@media screen and (max-width: 1199px){
	.main-general{
		.main-content{
			h3{
				font-size: 1.25em;
			}
			.left-container{
				.notification-container{
					h3{
						img{
							top: 20px;
						}
					}					
				}
			}
			.right-container{
				.detail-reservation-container{
					h3{
						img{
							top: 25px;
						}
					}					
				}
			}
			.report-database-container, .flux-balance-container, .verify-payment-container, .income-container{
				.report-header-container, .flux-header-container, .verify-header-container, .income-container{
					.left-side{
						h3{
							img{
								top: 2px;
							}
						}
					}
				}
			}	
		}
	}
}
@media screen and (max-width: 991px){
	.main-general{
		.main-content{
			.left-container{
				padding-right: 0;
				padding-left: 0;
			}
			.right-container{
				padding-right: 0;
				padding-left: 0;
			}
			.report-database-container, .flux-balance-container, .verify-payment-container, .income-container{
				.report-header-container, .report-body-container, .report-footer-container, .income-footer-container{
					display: none;
				}
				.flux-header-container, .flux-body-container, .flux-footer-container, .income-container{
					display: none;
				}
				.verify-header-container, .verify-body-container, .verify-footer-container, .income-container{
					display: none;
				}
				.info-report-unshow, .info-flux-unshow, .info-verify-unshow, .info-income-unshow{
				    display: table-cell;				
					h2, h3{
						margin: 0;
					}
					h2{
						padding: 20px 0 10px 0;
					}
					h3{
						padding-bottom: 10px;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px){
	.main-general{
		.main-content{
			.left-container{
				.notification-container{
					.notification-group-container{
						.reservation{
							.reservation-detail{
								float: none;
							}
							.btn-detail{
							    margin-top: 5px;
   								margin-left: 45px;
   								float: none;
							}		
						}	
					}
				}
			}
			.report-database-container, .flux-balance-container, .verify-payment-container, .income-container{
				.report-header-container, .flux-header-container, .verify-header-container, .income-header-container{
					.right-side{
					    margin-top: 18px;
					    padding-left: 15px;	
					    .form-sort-user-database, .form-sort-restaurant-management-database{
					    	width: 18%;
					    }
					    .form-search-database{
					    	margin-right: 0;
					    }				
					}
				}
			}			
		}
	}
}
@media screen and (max-width: 767px){
	.main-general{
		.main-content{
			.left-container{
				.notification-container{
					.notification-group-container{
						.reservation{
							.reservation-detail{
								float: none;
							}
							.btn-detail{
							    margin-top: 5px;
   								margin-left: 45px;
   								float: none;
							}		
						}	
					}
				}
			}
		}
	}	
}
/* END: MAIN GENERAL */

/* ADD RESTAURANT MODAL */
#addRestaurantModal{
	.modal-body{
		.form-add-restaurant{
			padding: 0 15px;
			.col-sm-8{
				padding-right: 0;
			}
			.form-group{
				margin-bottom: 8px;
				label{
					line-height: 34px;
					font-weight: normal;
					padding-left: 0;	
					margin: 0;		
				}
				.form-control{
					@include border-radius-null;
					@include box-shadow;
					background-color: $grey-placeholder;
					&:focus{
						border: 1px solid $grey-placeholder;
					}
				}				
			}
			p{
				margin: 15px 0;
			}
			.btn-add_restaurant{
				float: right;
			    background: $yellow;
			    color: $white;
			    margin: 8px 0;
			    padding: 4px 25px;
			    font-weight: bold;
			    @include border-radius-value-high;
			    font-size: 1.17em;
			    &:hover, &:focus{
			    	outline: none;
			    	@include transition;
			    	background: darken($yellow, 8%);
			    }	    					
			}
		}
	}
}
@media screen and (max-width: 767px){
	#addRestaurantModal{
		.modal-body{
			.form-add-restaurant{
				.col-sm-8{
					padding-left: 0;
				}
			}
		}
	}	
}
/* END: ADD RESTAURANT MODAL */

/* FILL BALANCE MODAL */
#fillBalanceModal{
	.modal-body{
		.form-fill-balance{
			padding: 0 15px;
			.col-sm-8{
				padding-right: 0;
			}
			.form-group{
				margin-bottom: 8px;
				label{
					line-height: 34px;
					font-weight: normal;
					padding-left: 0;	
					margin: 0;		
				}
				.form-control{
					@include border-radius-null;
					@include box-shadow;
					background-color: $grey-placeholder;
					&:focus{
						border: 1px solid $grey-placeholder;
					}
				}				
			}
			p{
				margin: 15px 0;
			}
			.btn-fill_balance{
				float: right;
			    background: $yellow;
			    color: $white;
			    margin: 8px 0;
			    padding: 4px 25px;
			    font-weight: bold;
			    @include border-radius-value-high;
			    font-size: 1.17em;
			    &:hover, &:focus{
			    	outline: none;
			    	@include transition;
			    	background: darken($yellow, 8%);
			    }	    					
			}
		}
	}
}
@media screen and (max-width: 767px){
	#fillBalanceModal{
		.modal-body{
			.form-fill-balance{
				.col-sm-8{
					padding-left: 0;
				}
			}
		}
	}	
}
/* END: FILL BALANCE MODAL */

/* DECLINE RESERVATION MODAL */
#declineReservationModal{
	.modal-body{
		.form-decline-reservation{
			padding: 0 15px;
			.col-sm-8{
				padding-right: 0;
			}
			.form-group{
				margin-bottom: 8px;
				label{
					line-height: 34px;
					font-weight: normal;
					padding-left: 0;	
					margin: 0;		
				}
				.form-control{
					@include border-radius-null;
					@include box-shadow;
					background-color: $grey-placeholder;
					&:focus{
						border: 1px solid $grey-placeholder;
					}
				}				
			}
			p{
				margin: 15px 0;
			}
			.btn-decline_reservation{
				float: right;
			    background: $yellow;
			    color: $white;
			    margin: 8px 0;
			    padding: 4px 25px;
			    font-weight: bold;
			    @include border-radius-value-high;
			    font-size: 1.17em;
			    &:hover, &:focus{
			    	outline: none;
			    	@include transition;
			    	background: darken($yellow, 8%);
			    }	    					
			}
		}
	}
}
@media screen and (max-width: 767px){
	#declineReservationModal{
		.modal-body{
			.form-decline-reservation{
				.col-sm-8{
					padding-left: 0;
				}
			}
		}
	}	
}
/* END: FILL BALANCE MODAL */
