$black: #58595b;
$yellow: #ed8f03;
$yellow-normal: #fcb022;
$white: #ffffff;
$yellow-light: #fac04f;
$grey: #ebebeb;
$grey-light: #acacac;
$grey-normal: #959595;
$red: #ed1c24;
$yellow-darken: #d68f1c;
$green: #8dc63f;
$grey-placeholder: #e8e9e9;

@mixin transition{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}
@mixin border-radius-null{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}
@mixin border-radius-value{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
@mixin box-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
@mixin background-size {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@mixin placeholder-white{
	::-webkit-input-placeholder {
		color: darken($white, 8%);
	}
	:-moz-placeholder {
		color: darken($white, 8%);
	}
	::-moz-placeholder {
		color: darken($white, 8%);
	}
	:-ms-input-placeholder {  
		color: darken($white, 8%);
	}
}
@mixin border-radius-value-high{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}
/* GENERAL */
@font-face{
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face{
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-style: italic;
}
@font-face{
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
}
html, body {
  height: 100%; }

body{
	font-family: 'Open Sans', sans-serif;
	color: $black;
	
}
.no-margin {
  margin: 0; 
}
.no-padding {
  padding: 0; 
}
.default-black{
	border: 1px solid $black;
}
.default{
	border: 1px solid $yellow-darken;
}
.default-grey{
	border: 1px solid $grey-placeholder;
}
.error{
	border: 1px solid $red;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.add-margin-top{
	margin-top: 20px;
}
.border-filter-spc-collapse{
	border: 1px solid $grey;
	border-top: 1px solid $white;
	border-left: none;
	border-right: none;
}
.border-filter-spc-expand{
	border: 1px solid $grey;
	border-left: none;
	border-right: none;
}
.flash-manage{
	.alert{
		margin-top: 20px;
		margin-bottom: 0;
	}
}
@media print {
	body * {
		visibility: hidden;
	}
	.print-area, .print-area * {
		visibility: visible;
	}
	.print-area {
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		margin: auto;
	}
}
/* END: GENERAL */

/* SECTION-LOGIN */
.section-login{
	height: 100%;
	background: url('../images/restaurants/bg-login.png') no-repeat center center fixed; 
	@include background-size;
	.login{
		margin: 0 auto;		
		padding-top: 80px;
		max-width: 320px;
		color: $white;
		a{
			display: block;
			img{
				display: block; 
				margin: 0 auto;
			}
		}
		.title-group{
			.half-line{
			    float: left;
			    border-bottom: 3px solid $white;
			    padding: 28px;
			    width: 30%;
			}
			h2{
			    float: left;
			    margin: 0;
			    padding: 40px 0 30px 0;
			    font-weight: bold;
			    width: 40%;
			}
		}
		.form-login{
			.form-group{
				position: relative;
				@include placeholder-white;				
				margin-bottom: 20px;
				img{
				    position: absolute;
				    top: 13px;
				    left: 15px;				    
				}
				.form-control {
					color: $white;
					@include border-radius-null;
					padding-left: 38px;	
				    font-size: 1.25em;
				    height: 42px;					    
				    @include box-shadow;
			    	background-color: $yellow-darken;			    
				    &:focus{
				    	border: 1px solid $yellow-darken;
				    }
				}			
			}
			.btn-login{
				display: block;
			    width: 100%;
			    background: $white;
			    color: $yellow;
			    font-weight: bold;
			    margin-bottom: 40px;
			    padding: 8px;
			    font-size: 1.25em;
			    &:hover, &:focus{
			    	outline: none;
			    	@include transition;
			    	background: darken($white, 8%);
			    }
			}
		}
		.contact{
			margin-top: 20px; 
			position: relative;
			padding-left: 20px;
			img{
				position: absolute;
			    top: 6px;
			    left: 25%;				
			}
		}
	}
}
/* END: SECTION-LOGIN */

/* NAVBAR */
.navbar-restaurant{
	.left-side{
		padding-right: 0;
		padding-left: 0;
		border-bottom: 1px solid $white;
		.navbar-header{
			background-color: $white;
		    width: 100%;
			.icon-bar{
				background-color: $yellow;
			}
			.navbar-brand{
				background: $yellow;		
				width: 100%;
				height: auto;
				margin-left: 0;
				> img{
					display: block;
				}
			}		
		}
	}
	.right-side{
		height: 66px;
		line-height: 65px;	
		border-bottom: 1px solid $white;
		background-color: $white;	
		h4{
			margin: 0;
			line-height: 65px;
			float: left;
		}
		.top-nav{
			li{
				.img-profile-restaurant{
					width: 60px;
					height: 60px;
				}
				.restaurant_management-name{
					color: $yellow;
					display: inline-block;
					padding: 0 15px 0 10px;
				}
				a{
					line-height: 65px;
					padding: 0 15px;
					color: $black;
					&:hover, &:active{
						@include transition;
						background: $white;
						color: $yellow;
					}
					>img{
						margin-right: 12px;
						width: 37px;
						height: 37px;							
					}
				}
			}
		}
	}
}
/* END: NAVBAR */

/* SIDEBAR */
.sidebar {
	position: fixed;
	top: 66px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px 0;
	overflow-x: hidden;
	overflow-y: auto; 
	background: url('../images/restaurants/bg-panel.png'); 	
	@include background-size;
	.nav-sidebar{
		li{
			&:hover, &.active{
				a{
					outline: none;
					@include transition;
					background-color: $yellow-light;
				}
			}	
			a{
				position: relative;				
				color: $white;
				&:hover, &:active, &:focus{
					outline: none;
					@include transition;
					background-color: $yellow-light;
				}				
				&._dashboard, &._reservation, &._restaurant, &._balance, &._report, &._password{
					padding-left: 50px;		
					>img{
						left: 18px;
						position: absolute;
					}			
				}
				&._reservation, &._report{
					>img{
					    left: 20px;						
					}
				}
				&._restaurant{
					>img{
    					top: 7px;						
					}
				}
				&._balance{
					>img{
					    top: 11px;
					    left: 17px;					
					}
				}
			}
		}
	}
}
/* END: SIDEBAR */

/* MAIN-CHANGE-PASSWORD */
.main-change-password{
	position: relative;
	margin-top: 66px;
	background-color: $grey;
	height: 84vh;
	.main-content{
		.change-password{
			max-width: 350px;
			color: $black;
			margin: 20px 0;
			padding: 20px;
			background-color: $white;
			h3{
				margin: 0;
				margin-bottom: 20px;
			}
			.form-change-password{
				.form-group{
					position: relative;
					img{
						position: absolute;
					    top: 8px;
					    left: 12px;						
					}
					.form-control{
						background-color: $grey;
						padding-left: 38px;	
						@include border-radius-null;
						@include box-shadow;
						&:focus{
							border: 1px solid $black;			
							outline: none;
						}			
					}
				}
				.btn-change-password{
					display: block;
				    width: 100%;
				    background: $yellow;
				    color: $white;
				    font-weight: bold;
				    &:hover, &:focus{
				    	outline: none;
				    	@include transition;
				    	background: darken($yellow, 8%);
				    }
				}
			}
		}		
	}
}
/* END: MAIN-CHANGE-PASSWORD */
@media screen and (max-width: 767px){
	.navbar-restaurant{
		.left-side{
			.navbar-header{
				background: $yellow;
				.icon-bar{
					background-color: $white;
				}
				.navbar-toggle{
					padding-top: 19px;
				}
				.navbar-brand{
					width: auto;
				}
			}
		}
		.right-side{
			padding: 0;
			border-bottom: none;
			background-color: transparent;				
			.navbar-collapse{
				background: $yellow;
			}
			h4{
				color: $white;
				float: none;
				line-height: normal;
				padding: 10px 16px 10px 0;
			}
			.top-nav{
				li{
					>img{
						margin-left: 15px;
					}
					.restaurant_management-name{
						color: $white;
					}
					a{
						line-height: normal;
						padding: 10px 16px;
						color: $white;
						&:hover{
							@include transition;
							background-color: $yellow;
							color: darken($white, 8%);
						}
					}
					&:nth-child(2){
						display: none;
					}
				}
			}			
		}
	}
	.sidebar {
  		display: none;
	}
	.main-change-password{
		.main-content{
			.change-password{
				margin: 20px auto;
			}
		}
	}	
}

/* MAIN GENERAL */
.main-general{
	position: relative;
	margin-top: 46px;
	background-color: $grey;
	.main-content{
		.left-container{
			padding-left: 0;
			.income-container{
				background-color: $white;
				h3{
					position: relative;
					padding: 20px 0 0 36px;
					margin: 0;
					img{
						position: absolute;
					    left: 15px;
					    top: 27px;				
					}
				}
				.income-group-container{
					margin: 20px;
					h4{
						font-weight: normal;
						margin: 0;
						padding: 20px 0;
					}
				}
			}
			.balance-container{
				margin-bottom: 20px;
				background-color: $white;
				h3{
					position: relative;
					padding: 20px 0 0 40px;
					margin: 0;
					img{
						position: absolute;
					    left: 15px;
					    top: 28px;				
					}
				}
				.balance-group-container{
					margin: 20px 15px 0 15px;
					h4{
						font-weight: normal;
						margin: 0;
					}
					h1{
						color: $yellow;
						margin: 0;
						padding: 15px 0;
						font-size: 3.5em;
					}
					.button-group{
						float: right;
						.btn-withdraw{
							display: inline-block;
						    background: $yellow;
						    color: $white;
						    padding: 6px 20px 6px 30px;
						    font-weight: bold;
						    margin-bottom: 20px;
							@include border-radius-value-high;			    
						    &:hover, &:focus{
						    	outline: none;
						    	@include transition;
						    	background: darken($yellow, 8%);
						    }
						    img{
						    	margin: 0 5px;
						    }
						}
					}
				}
				.info-withdraw{
					padding: 10px 0;
					border-top: 1px solid $grey;
					p{
						padding: 0 15px;
						margin: 0;
					}
				}				
			}
			.upcoming-reservation-container{
				background-color: $white;
				margin-bottom: 20px;
				.badge{
					background: $red;
					font-weight: normal;
					padding: 3px 6px;
					margin-left: 2px;			
				}
				h3{
					margin: 0;
					padding: 20px 0 15px 40px;
					position: relative;
					img{
						position: absolute;
					    left: 15px;
					    top: 25px;						
					}
				}
				.separator{
					border-bottom: 1px solid $grey;
				}
				.reservation{
					padding: 10px 0;
					position: relative;
					border-bottom: 1px solid $grey;
					p{
					    font-weight: normal;
					    margin: 0;
					    padding: 0 45px;
					}
					.new-reserve, .view{
						position: absolute;
					}
					.new-reserve{
					    top: 35%;
					    left: 15px;				
					}
					.view{
					    right: 15px;
					    top: 40%;				
					}
				}
				.reservation-info{
					padding: 10px 15px;
					.side{
						float: left;
						width: 30%;
						position: relative;
						&:first-child{
							width: 40%;
						}
						img{
							position: absolute;
							top: 2px;
						}
						p{
							padding-left: 30px;
							padding-right: 10px;
							margin: 0;
						}
					}
				}
				.upcoming-reservation-pagination{
					text-align: right;
					.pagination{
						margin: 15px;
						li{
							&.active{
								span{
									border: 1px solid $grey;
									border-radius: 50%;
									color: $white;
									background: $yellow;						
								}
							}
							&:hover, &:focus{
								a{
									border: 1px solid $grey;
									color: $white;
									background: $yellow;
								}
							}
							&.disabled{
								span{
									border: 1px solid white;
									color: $black;
								}
								&:hover, &:focus{
									span{
										border-radius: 50%;
										background: $white;
									}
								}
							}
							a{
								@include border-radius-null;
								color: $black;
								border-radius: 50%;
								margin-left: 2.5px;
								border: 1px solid $white;
								&:hover, &:focus, &.active{
									@include box-shadow;
									@include transition;
									outline: none;
									color: $white;
									background: $yellow;					
								}
							}
						}
					}
				}				
			}
			.bank-container{
				margin-bottom: 20px;
				background-color: $white;
				.bank_container_header{
					h3{
						position: relative;
						padding: 20px 0 0 40px;
						margin: 0;
						float: left;
						img{
							position: absolute;
						    left: 15px;
						    top: 26px;				
						}
					}						
					.btn-add-account-bank{
						float: right;
						margin: 20px 15px 0 0;
						position: relative;			
					    @include border-radius-value-high;
						background: $yellow;
						color: $white;
						text-align: center;
					    padding: 1px 20px 1px 25px;	
					    img{
						    position: absolute;
						    top: 6px;
						    left: 10px;
					    }
						&:hover, &:focus, &:active{
							@include box-shadow;
							outline: none;
							@include transition;
							background-color: darken($yellow, 8%);
						}			
					}
				}
				.form-delete-bank{
				   margin: 20px 15px 0 15px;
				   .form-group{	
				   		margin-bottom: 10px;
					   label{
							font-size: 1.17em;
							line-height: 34px;
							margin: 0;
							font-weight: normal;
							padding-left: 0;
					   }
					   .col-sm-7{
						   	padding-right: 0;
						   .form-control{
								background-color: $grey-placeholder;					   	
								font-size: 1.17em;
								@include box-shadow;
								@include border-radius-null;
								padding: 0px 12px;
								padding-right: 0;
								&:focus{
									border: 1px solid $grey-placeholder;
								}
						   }		
					   }	
				   	}
					.button-group{
						float: right;
						padding: 10px 0 20px 0;
						.btn-edit-account-bank{
							position: relative;
						    @include border-radius-value-high;
							background: $yellow;
							color: $white;
							text-align: center;
						    padding: 1px 20px 1px 30px;	
						    img{
							    position: absolute;
							    top: 5px;
							    left: 10px;
						    }
							&:hover, &:focus, &:active{
								@include box-shadow;
								outline: none;
								@include transition;
								background-color: darken($yellow, 8%);
							}
						}
						.btn-delete-account-bank{
							@extend .btn-edit-account-bank;
						    padding: 1px 20px 1px 25px;					
							margin-left: 5px;
							img{
								top: 7px;
							}
						}			
					}
				}
			}
		}
		.right-container{
			padding-right: 0;
			.total-reservation-container{
				background-color: $white;
				h3{
					position: relative;
					padding: 20px 0 0 40px;		
					margin: 0;	
					img{
						position: absolute;
					    left: 15px;
					    top: 25px;
					}
				}
				h1{
					font-size: 7em;
					color: $yellow;
					margin: 0;
					padding-top: 23%;
				}
				h4{
					font-weight: normal;
					margin: 0;
					padding-bottom: 23%;
				}
			}
			.info-total-reservation{
				background-color: $white;
				font-weight: normal;
				border-top: 1px solid $black;
				margin: 0;
				margin-bottom: 20px;
				padding: 15px;
			}
			.reservation-date-container{
				background-color: $white;
				h3{
					position: relative;
					padding: 20px 0 0 40px;
					margin: 0;
					img{
						position: absolute;
					    left: 15px;
					    top: 26px;				
					}
				}
				.reservation-date-group-container{
					margin: 20px 15px;
					#datepicker-dashboard, #datepicker-reservation{
						.datepicker{
							width: 100%;
							.dp-note{
							    background: $yellow-normal;
							    width: 4px;
							    height: 4px;
							    border-radius: 50%;
							    position: absolute;
							    bottom: 3px;
							    left: 0;		
							    right: 0;		
							    margin: auto;						
							}
						}
					}
					.left-info{
						float: left;
						position: relative;
						p{
							padding-left: 15px;
						}
						.round-info{
							position: absolute;
							width: 7px;
							height: 7px;
							border-radius: 50%;
							background-color: $yellow;
							top: 6px;
						}
					}
					.right-info{
						float: right;
						span{
							color: $yellow;
							font-weight: bold;
						}
					}
				}
			}
			.download-app-container{
				background-color: $white;
				padding-bottom: 5px;
				h3{
					position: relative;
					padding: 20px 0 0 40px;
					margin: 0;
					img{
						position: absolute;
					    left: 15px;
					    top: 26px;				
					}
				}
				.download-app-group-container{
					margin: 20px 15px;
					.left-side-container{
						width: 30%;
						float: left;
						img{
							display: block;
							margin: 0 auto;
						}
					}
					.right-side-container{
						width: 66%;
						margin: 0 2%;
						float: right;
						img{
							display: block;
							margin: 0 auto;
						}
						.version{
							margin: 0;
							padding: 5px 0;
							color: $yellow;
						}
						h4{
							font-weight: normal;
							margin: 0;
							padding: 15px 0;
						}
						.btn-download{
							display: block;
							background: $yellow;
							color: $white;
							padding: 8px 40px;
							font-weight: bold;
							margin: 5px auto 20px auto;
							@include border-radius-value-high;			    
							&:hover, &:focus{
								outline: none;
								@include transition;
								background: darken($yellow, 8%);
							}
						}
						p{
							margin: 0;
						}
						.line{
							border: 1px solid $grey;
							margin: 5px 0;
						}
					}
				}		
			}
			.schedule-container{
				h3{
					margin: 0;
					padding-left: 15px;
					margin-bottom: 15px;
				}
				.sub-schedule-container{
					border-bottom: 1px solid $grey;
					background-color: $white;
					h2, h4{
						color: $yellow;
						margin: 0;
					}
					h2{
						font-weight: bold;
						padding: 10px 0 5px 0;
						font-size: 3.5em;
					}
					h4{
						font-weight: normal;
						padding-bottom: 10px;
					}
					p{
						margin: 0;
						padding: 17px 0 5px 0;
					}
					ol{
						padding-left: 15px;
						li{
							span{
								font-weight: bold;
							}
							.btn-view-menu{
								display: block;
								background: $yellow;
								color: $white;
								font-weight: bold;
								margin: 8px 0;
								padding: 4px 22px;
								@include border-radius-value;			    
								&:hover, &:focus{
									outline: none;
									@include transition;
									background: darken($yellow, 8%);
								}
							}
						}
					}
					.table-menu-order{
						display: none;
						thead{
							background: $grey-normal;
							color: $white;
						}						
					}
				}
			}
			.history-balance-container{
				margin-bottom: 20px;
				background-color: $white;
				h3{
					position: relative;
					padding: 20px 0 0 40px;
					margin: 0;
					img{
						position: absolute;
					    left: 15px;
					    top: 28px;				
					}
				}
				.form-search-history-balance{
					padding: 20px 15px;
					border-bottom: 1px solid $grey;
					img{
						margin: 0 5px;
					}
					.form-control{
						display: inline-block;
						width: 32%;
						@include box-shadow;
						@include border-radius-value-high;
						&:focus{
							border: 1px solid $black;
						}
					}
					.btn-search{
						width: 34px;
						height: 34px;
						background-color: $grey-normal;
						border-radius: 50%;
						margin-left: 5px;
						img{
							display: block;
							margin: auto;
						}
					    &:hover, &:focus{
					    	outline: none;
					    	@include transition;
					    	background: darken($grey-normal, 8%);
					    }
					}
				}
				.table-history-balance{
					thead{
						tr{
							th{
								padding: 8px 15px;
							}
						}
					}
					tbody{
						tr{
							td{
								padding: 8px 15px;
							}
						}
					}
				}
				.balance-pagination{
					text-align: right;
					padding-top: 18px;
					.pagination{
						li{
							&.active{
								span{
									border: 1px solid $grey;
									border-radius: 50%;
									color: $white;
									background: $yellow;						
								}
							}
							&:hover, &:focus{
								a{
									border: 1px solid $grey;
									color: $white;
									background: $yellow;
								}
							}
							&.disabled{
								span{
									border: 1px solid white;
									color: $black;
								}
								&:hover, &:focus{
									span{
										border-radius: 50%;
										background: $white;
									}
								}
							}
							a{
								@include border-radius-null;
								color: $black;
								border-radius: 50%;
								margin-left: 2.5px;
								border: 1px solid $white;
								&:hover, &:focus, &.active{
									@include box-shadow;
									@include transition;
									outline: none;
									color: $white;
									background: $yellow;					
								}
							}							
						}
					}
				}
			}
			.menu-container{
				margin-bottom: 20px;
				background-color: $white;
				h3{
					float: left;
					position: relative;
					padding: 20px 0 0 40px;
					margin: 0;
					img{
						position: absolute;
					    left: 15px;
					    top: 24px;				
					}
				}
				.button-group{
					float: right;
					padding: 20px 20px 0 0;
					.btn-add-menu{
					    @include border-radius-value-high;
						background: $grey-normal;
						color: $white;
						text-align: center;
					    padding: 1px 20px;	
					    img{
							margin: 0 5px;
					    }
						&:hover, &:focus, &:active{
							@include box-shadow;
							outline: none;
							@include transition;
							background-color: darken($grey-normal, 8%);
						}
					}
					.btn-edit-menu{
						@extend .btn-add-menu;
						margin-left: 5px;
					}
				}
				.menu-group-container{
					padding-top: 20px;
					.filter-title-category{
						border-top: 1px solid $grey;
						border-bottom: 1px solid $grey;
						position: relative;
						padding-left: 15px;
					    cursor: pointer;						
						label{
							font-weight: normal;
							margin: 0;
							padding: 10px 0;
						}
						img{
							position: absolute;
						    top: 17px;
						    right: 15px;	
						}			
					}
					.detail-filter-category{
						display: none;
						height: 400px;
						h4{
							margin: 0;
							line-height: 34px;
							font-size: 1.17em;
							&.menu-title{
								font-weight: bold;
							}
							&.price-value{
								text-align: right;
							}
						}
						p{
							margin-top: -5px;
							margin-bottom: 5px;
							font-size: 0.95em;
						}						
					}
				}
			}				
		}
		.margin-adapt2{
			margin-bottom: 20px;
		}	
		.report-container{
			background-color: $white;
			margin-bottom: 20px;			
			height: 82vh;
			.report-header-container{
				padding: 20px 0;
				.left-side{
					h3{
						position: relative;
						margin: 0;
						padding: 0 0 0 25px;
						float: left;
						img{
							position: absolute;
							left: 0px;
						    top: 4px;						
						}    					
					}
					.form-search-history-report{
						text-align: right;
						img{
							margin: 0 5px;
						}
						.form-control{
							display: inline-block;
							width: 25%;
							@include box-shadow;
							@include border-radius-value-high;
							&:focus{
								border: 1px solid $black;
							}
							font-size: 0.9em;
						}
						.btn-search{
							width: 34px;
							height: 34px;
							background-color: $grey-normal;
							border-radius: 50%;
							margin-left: 5px;
							img{
								display: block;
								margin: auto;
							}
						    &:hover, &:focus{
						    	outline: none;
						    	@include transition;
						    	background: darken($grey-normal, 8%);
						    }
						}
					}
				}
				.right-side{
					padding-left: 0;
					h4{
						display: inline-block;
						margin: 0;
						line-height: 34px;
						font-size: 1em;
					}
					.form-sort-report{
						width: 29%;
						display: inline-block;
						.sort-form-control{
							font-size: 0.9em;
							@include box-shadow;
							&:focus{
								border: 1px solid $black;
							}						
						}
					}
					.form-search-history-report-2{
						display: inline-block;
						width: 25%;
						margin: 0 20px;
						.search-form-control{
							font-size: 0.9em;
							width: 100%;
							display: inline-block;
							@include box-shadow;
							@include border-radius-value-high;						
							&:focus{
								border: 1px solid $black;
							}						
						}
					}
					.btn-print-report{
					    background: $grey-normal;
					    color: $white;
					    float: right;
					    padding: 6px 20px 6px 40px;
					    font-weight: bold;
					    position: relative;
						@include border-radius-value-high;			    
					    &:hover, &:focus{
					    	outline: none;
					    	@include transition;
					    	background: darken($grey-normal, 8%);
					    }
					    img{
					    	position: absolute;
					    	top: 10px;
					    	left: 20px;
					    }
					}
				}
			}
			.report-body-container{
				border-top: 1px solid $grey;
				padding-top: 10px;
				.table-report{
					font-size: 0.9em;
				}
			}
			.report-footer-container{
				border-top: 1px solid $grey;
				background-color: $white;
				padding: 10px 15px;
				h4, h2{
					margin: 0;
				}
				h4{
					padding: 15px 0 5px 0;
					font-weight: normal;
				}
				.report-pagination{
					text-align: right;
					padding-top: 18px;
					.pagination{
						li{
							&.active{
								span{
									border: 1px solid $grey;
									border-radius: 50%;
									color: $white;
									background: $yellow;						
								}
							}
							&:hover, &:focus{
								a{
									border: 1px solid $grey;
									color: $white;
									background: $yellow;
								}
							}
							&.disabled{
								span{
									border: 1px solid white;
									color: $black;
								}
								&:hover, &:focus{
									span{
										border-radius: 50%;
										background: $white;
									}
								}
							}
							a{
								@include border-radius-null;
								color: $black;
								border-radius: 50%;
								margin-left: 2.5px;
								border: 1px solid $white;
								&:hover, &:focus, &.active{
									@include box-shadow;
									@include transition;
									outline: none;
									color: $white;
									background: $yellow;					
								}
							}							
						}
					}
				}
			}
			.info-report-unshow{
				height: 77.5vh;
				padding: 0 20px;
			    vertical-align: middle;
				display: none;
			}			
		}
		.profile-restaurant-container{
			margin-bottom: 20px;
			background-color: $white;
			h3{
				float: left;
				position: relative;
				padding: 20px 0 0 40px;
				margin: 0;
				img{
					position: absolute;
				    left: 15px;
				    top: 26px;				
				}
			}
			.form-change-picture{
				float: right;
			    padding: 20px 20px 0 0;
				.btn-change-picture{
					position: relative;
				    @include border-radius-value-high;
					background: $grey-normal;
					color: $white;
					text-align: center;
				    padding: 1px 10px;	
				    img{
						margin: 0 5px;
				    }
					&:hover, &:focus, &:active{
						@include box-shadow;
						outline: none;
						@include transition;
						background-color: darken($grey-normal, 8%);
					}
					.upload{
					    position: absolute;
					    top: 0;
					    right: 0;
					    margin: 0;
					    padding: 0;
					    font-size: 20px;
					    cursor: pointer;
					    opacity: 0;
					}				
				}
			}
			.profile-group-container{
				padding-top: 40px;
				>img{
					margin: 0 auto;
					display: block;
					height: 150px;
					width: 150px;
				}
				h2{
					margin: 0;
					padding: 20px 0 8px 0;
				}
				.form-change-profile-info{
					margin: 20px 0;
					padding-top: 20px;
					border-top: 1px dashed $grey-normal;
					.form-group{
						margin-bottom: 8px;
						label{
							margin: 0;
							line-height: 34px;
							font-weight: normal;
						}
						.form-control{
							@include border-radius-null;
							@include box-shadow;
							background-color: $grey-placeholder;
							&:focus{
								border: 1px solid $grey-placeholder;
							}
						}
					}
					.open-time{
						margin-bottom: 15px;
						.form-control{
							width: 30%;
							display: inline-block;
						}
					}
					.filter-title-cuisine, .filter-title-service, .filter-title-table-reservation{
						position: relative;
						padding-left: 15px;
					    cursor: pointer;						
						label{
							font-weight: normal;
							margin: 0;
							padding: 10px 0;
						}
						img{
							position: absolute;
						    top: 17px;
						    right: 12px;	
						}				
					}
					.detail-filter-cuisine{
						display: none;
						padding: 10px 0;
						.left-side-checkbox, .right-side-checkbox{
							padding-left: 0;
						}
						.checkbox-group-open-day{
							&:first-child{
								margin-top: 0;
							}
							label{
								padding-left: 15px;
							}
						}
						.checkbox-open-day{
							margin-left: 0;
						}
						.info-open-day{			
						    display: inline-block;
						    padding-left: 20px;
						}						
					}
					.detail-filter-service, .detail-filter-table-reservation{
						@extend .detail-filter-cuisine;
					}
					.detail-filter-cuisine{
						.checkbox-group-cuisine{
							&:first-child{
								margin-top: 0;
							}
							label{
								padding-left: 15px;
							}
						}
						.checkbox-cuisine{
							margin-left: 0;
						}
						.info-cuisine{			
							@extend .info-open-day;
						}			
					}
					.detail-filter-service{
						border-bottom: 1px solid $grey;
						.checkbox-group-service{
							&:first-child{
								margin-top: 0;
							}
							label{
								padding-left: 10px;
							}
						}
						.checkbox-service{
							margin-left: 0;
						}
						.info-service{			
							@extend .info-open-day;
						}			
					}					
					.btn-save-profile-info{
					   	float: right;
					    background: $yellow;
					    color: $white;
					    padding: 6px 30px;
					    font-weight: bold;
					    margin: 10px 15px;
						@include border-radius-value-high;			    
					    &:hover, &:focus{
					    	outline: none;
					    	@include transition;
					    	background: darken($yellow, 8%);
					    }
					}			
				}
			}
		}
		.food-photos-container, .inside-restaurant-photos-container{
			margin-bottom: 20px;
			background-color: $white;
			h3{
				float: left;
				position: relative;
				padding: 20px 0 0 40px;
				margin: 0;
				img{
					position: absolute;
				    left: 15px;
				    top: 26px;				
				}
			}			
			.form-upload-food-photo, .form-upload-inside-restaurant-photo{
				float: right;
			    padding: 20px 20px 0 0;
				.btn-upload-photo{
				    @include border-radius-value-high;
					background: $grey-normal;
					color: $white;
					text-align: center;
				    padding: 1px 10px;	
				    position: relative;
				    img{
						margin: 0 5px;
				    }
					&:hover, &:focus, &:active{
						@include box-shadow;
						outline: none;
						@include transition;
						background-color: darken($grey-normal, 8%);
					}
					.upload{
					    position: absolute;
					    top: 0;
					    right: 0;
					    margin: 0;
					    padding: 0;
					    font-size: 20px;
					    cursor: pointer;
					    opacity: 0;
					}				
				}
			}
			.photos-group-container{
				padding-top: 40px;
				a{
					display: block;
					margin-bottom: 20px;
					img{
						@include border-radius-value;
						display: block;
						margin: 0 auto;
						height: 100px;
						width: 100%;
					}
					&.food-photo{
						img{
							height: 100px;
							width: 120px;
						}
					}
				}
			}
		}	
	}
	.reservation-main-content{
		height: 82vh;
	}
}
.print-report-container{
	border-top: 1px solid $grey;
	margin-top: 66px;
	.print-area{
		.report-title{
		    font-weight: bold;
		    margin: 20px 0;			
		}
		.table-print-report{
			margin-bottom: 0;
		}
		.total-income-value{
			font-weight: bold;
		}
	}
}
// DATEPICKER LIBRARY
.datepicker{
	z-index: 1151 !important;
	width: 200px;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid $black;
	color: $black;
	margin-bottom: 15px;
	.-selected-{
		background: $white;
		color: $black;
		border: none;
	}
	.-focus-{
		border: 1px solid $yellow;
		background-color: $white;
	}
	.-selected-.-focus-, .-other-month-.-selected- {
		background: $white;
		color: $black;
	}
	.-selected-.-current-{
		color: $black;
		border: 1px solid $yellow;
		background-color: $white;
	}
	.-current-{
		color: $black;
		border: 1px solid $yellow;
		background-color: $white;
		&:hover{
			color: $black;
			border: 1px solid $yellow;
			background-color: $white;	
		}
	}	
	.datepicker--day-name{
		color: $black;
		font-weight: bold;
	}
	.datepicker--pointer{
	    border-top: 1px solid $black;
	    border-right: 1px solid $black;		
	}
	.datepicker--nav-title{
		color: $black;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1.25em;
		&:hover{
			color: $black;
			border: 1px solid $yellow;
			background-color: $white;
		}
		i{
			color: $black;
		}		
	}
	.datepicker--nav-action{
		&:hover{
			border-color: $yellow;
			background-color: $white;
			path{
				stroke: $black;				
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.datepicker{
		width: 165px;
		font-size: 0.8em;
	}
}
//END: DATEPICKER LIBRAY
@media screen and (max-width: 1199px){
	.main-general{
		.main-content{
			h3{
				font-size: 1.25em;
			}
			.left-container{
				.income-container{
					h3{
						img{
							top: 21px;
						}
					}
					.income-group-container{
						h4{
							font-size: 1.17em;
						}
					}
				}
				.balance-container{
					h3{
						img{
							top: 24px;
						}
					}
					.balance-group-container{
						h1{
							font-size: 2.5em;
						}
					}
				}			
				.upcoming-reservation-container{
					h3{
						img{
							top: 22px;
						}
					}
				}	
				.bank-container{
					h3{
						img{
							top: 22px;
						}
					}
				}
				.profile-restaurant-container{
					h3{
						img{
							top: 22px;
						}
					}
				}	
				.food-photos-container, .inside-restaurant-photos-container{
					h3{
						img{
							top: 22px;
						}
					}
				}		
			}
			.right-container{
				.total-reservation-container{
					h1{
						font-size: 4.5em;
					}
					h3{
						img{
							top: 20px;
						}
					}
				}
				.info-total-reservation{
					font-size: 1.17em;
				}
				.reservation-date-container{
					h3{
						img{
							top: 22px;
						}
					}				
				}				
				.download-app-container{
					h3{
						img{
							top: 21px;
						}
					}
				}
				.menu-container{
					h3{
						img{
							top: 21px;
						}
					}
				}			
			}
			.margin-adapt{
				margin-top: 20px;
			}
			.report-container{
				.report-header-container{
					.left-side{
						h3{
							img{
								top: 1px;
							}
						}
					}
				}
			}
		}
	}	
}
@media screen and (max-width: 991px){
	.main-general{
		.main-content{
			.left-container{
				padding-right: 0;
				padding-left: 0;
				.profile-restaurant-container{
					.form-change-picture {
						.btn-changepicture{
							.upload {
								bottom: -2px;
							}							
						}	
					} 
				}
			}
			.right-container{
				padding-right: 0;
				padding-left: 0;
				.total-reservation-container{
					h1{
						padding-top: 5%;
					}
					h4{
						padding-bottom: 10%;
					}
				}
				.info-total-reservation{
					margin-bottom: 0;
				}
			}
		}
		.reservation-main-content{
			height: auto;
		}		
	}	
}
@media screen and (min-width: 992px) and (max-width: 1199px){
	.main-general {
		.main-content{
			.left-container{
				.upcoming-reservation-container{
					.reservation-info{
						.side{
						    float: none;
						    width: 100%;
						    margin-bottom: 8px;
						    &:first-child{
						    	width: 100%;
						    }
						}
					}	
				}	
			}
			.right-container{
				.history-balance-container{
					.table-history-balance{
						font-size: 0.75em;
					}
					.form-search-history-balance{
						.form-control{
							font-size: 0.75em;
						}
					}
				}
			}
			.report-container{
				.report-header-container{
					.left-side{
						.form-search-history-report{
							.form-control{
								width: 15%;
							}
						}
					}
					.right-side{
					    margin-top: 20px;
					    padding-left: 15px;
					    .form-sort-report{
					    	width: 18%;
					    }	
					}
				}
			}
			.profile-restaurant-container {
				.profile-group-container{
					.form-change-profile-info{
						.open-time{
							.form-control{
    							width: 42%;
							}			
						}		
					}		
				}	
			}
			.food-photos-container{
				.photos-group-container{
					a{
						img{
							width: 80px;
							height: 80px;			
						}
					}
				} 
			}    
		}
	}  
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.main-general {
		.main-content{
			.report-container{
				.report-header-container, .report-body-container, .report-footer-container{
					display: none;
				}
				.info-report-unshow{
				    display: table-cell;				
					h2, h3{
						margin: 0;
					}
					h2{
						padding: 20px 0 10px 0;
					}
					h3{
						padding-bottom: 10px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 767px){
	.main-general{
		.main-content{
			.left-container{
				.upcoming-reservation-container{
					.reservation-info{
						.side{
						    float: none;
						    width: 100%;
						    margin-bottom: 8px;
						    &:first-child{
						    	width: 100%;
						    }
						}
					}	
				}
				.balance-container{
					.balance-group-container{
						.button-group{
							float: none;
							.btn{
								width: 60%;
								margin: 0 auto 10px auto;
								display: block;
								&:first-child{
									margin-top: 8px;
								}
							}
						}
					}
				}
				.bank-container{
					.form-save-bank{
						.form-group{
							.col-sm-7{
								padding-left: 0;
							}
						}
					}
				}
			}
			.right-container{
				.download-app-container {
					.download-app-group-container {
						.left-side-container, .right-side-container {
							float: none;
							width: 100%;
						}	
						.left-side-container{
							margin-bottom: 20px;
						}
					}
				}
				.history-balance-container{
					.table-history-balance{
						font-size: 0.7em;
					}
					.form-search-history-balance{
						.form-control{
							font-size: 0.7em;
						}
					}
				}
				.menu-container{
					.menu-group-container {
						.detail-filter-category{
							h4{
								&.price-value{
									text-align: left;
								}
							}
						}
					}  				
				}
			}
			.report-container{
				.report-header-container, .report-body-container, .report-footer-container{
					display: none;
				}
				.info-report-unshow{
				    display: table-cell;				
				}
			}
		}	
	}
}

/* END: MAIN GENERAL */

/* NEW-RESERVATION-MODAL */
#newReservationModal{
	.modal-title{
		padding-left: 25px;
		img{
		    top: 19px;
		    left: 18px;
		    position: absolute;
		}
	}
	.modal-body{
		.form-group{
			margin-bottom: 8px;
			label{
				font-weight: normal;
				&:first-child{
					width: 35%;
				}
			}
		}
	}
	.order{
		margin-bottom: 25px;
		.title-order{
		    padding: 10px 15px;
			border: 1px solid $grey;
			margin: 0;
			position: relative;
			cursor: pointer;
			img{
				position: absolute;
			    top: 16px;
			    right: 25px;
			}
		}
		.detail-order{
			table{
				margin-bottom: 0;
				border-top: none;
				thead{
					background-color: $yellow-normal;
					color: $white;
					th{
						padding-left: 15px;
						padding-right: 15px; 
						&:last-child{
							padding-right: 25px;
						}
					}
				}
				tbody{
					tr{
						td{
							padding-left: 15px;
							padding-right: 15px; 
							&:last-child{
								padding-right: 25px;
							}							
						}
					}
				}
			}
		}
		.total-pay, .total-net-income, .total-fee-per-transaction{
			padding: 10px 25px 5px 25px;
			margin: 0;
			span{
				font-weight: bold;
				font-size: 1.17em;
			    width: 100px;
			    display: inline-block;
			    margin-left: 10px;
			}
		}
		.total-fee-per-transaction{
			padding: 5px 25px;
			span{
				color: $red;
				border-bottom: 1px solid $grey-normal;
			}
		}
		.total-net-income{
			padding: 5px 25px;
			span{
				color: $green;
			}
		}
		.group-button{
			margin: 20px 0;
			.btn-accept{
				@include border-radius-value-high;
				float: right;
				background-color: $green;
				color: $white;
			    font-weight: bold;
			    padding: 6px 40px;
			    font-size: 1.25em;
			    &:hover, &:focus{
			    	outline: none;
			    	@include transition;
			    	background: darken($green, 8%);
			    }
			}
			.btn-decline{
				@extend .btn-accept;
				float: left;
				background: $red;
				color: $white;
			    &:hover, &:focus{
			    	background: darken($red, 8%);
				}				
			}
		}
		.info-decline{
			margin: 0;
			padding: 10px 15px;
		}
		.group-decline-reservation{
		    width: 70%;
			padding: 10px 15px;	
			margin: 0 auto;
			.form-control{
				width: 100%;
			    margin: 0 auto;
			    height: 155px;
				@include box-shadow;
				@include border-radius-null;
				&:focus{
					border: 1px solid $black;
				}
			}	
			.group-button-bottom{
				float: right;
				margin: 15px 0;
				.btn-back{
					@include border-radius-value-high;
					background: $grey-light;
					color: $white;
				    font-weight: bold;
				    padding: 4px 25px;
				    margin-right: 10px;
				    &:hover, &:focus{
				    	outline: none;
				    	@include transition;
				    	background: darken($grey-light, 8%);
				    }					
				}
				.btn-send{
					@extend .btn-back;
					margin-right: 0;
					background: $red;
					color: $white;
				    padding: 4px 25px;
				    &:hover, &:focus{
				    	background: darken($red, 8%);
				    }					
				}
			}	
		}
		.decline-agreement{
			margin: 0;
			padding: 10px 15px 10px 25px;
			span{
				font-weight: bold;
			}
			img{
				margin-right: 2%;
			}
		}
	}
}
@media screen and (max-width: 767px){
	#newReservationModal{
		.order{
			.group-decline-reservation{
				width: 100%;
			}
		}
	}
}
/* END: NEW-RESERVATION-MODAL */

/* WITHDRAW MODAL */
#withdrawModal{
	.modal-body{
		.form-withdraw{
			padding: 0 15px;
			.col-sm-8{
				padding-right: 0;
			}
			.form-group{
				margin-bottom: 8px;
				label{
					line-height: 34px;
					font-weight: normal;
					padding-left: 0;	
					margin: 0;		
				}
				.form-control{
					@include border-radius-null;
					@include box-shadow;
					background-color: $grey-placeholder;
					&:focus{
						border: 1px solid $grey;
					}
				}				
			}
			.withdraw-dropdown{
				label{
					line-height: 34px;
					font-weight: normal;
					padding-left: 0;			
				}				
				.form-group{
					margin-bottom: 0;
					select{
						@include border-radius-null;
						@include box-shadow;
						background-color: $grey-placeholder;
						margin-bottom: 8px;
					}
				}
			}
			p{
				margin: 15px 0;
			}
			.confirmation_withdraw-group{
				text-align: right;
				.btn-confirmation_withdraw{
				    background: $yellow;
				    color: $white;
				    margin-bottom: 8px;
				    padding: 4px 25px;
				    font-weight: bold;
				    @include border-radius-value-high;
				    font-size: 1.17em;
				    &:hover, &:focus{
				    	outline: none;
				    	@include transition;
				    	background: darken($yellow, 8%);
				    }	    					
				}
			}
		}
	}
}
@media screen and (max-width: 767px){
	#withdrawModal{
		.modal-body{
			.form-withdraw{
				.col-sm-8{
					padding-left: 0;
				}
			}
		}
	}	
}
/* END: WITHDRAW MODAL */

/* DETAIL BALANCE MODAL */
#detailBalanceModal{
	.modal-body{
		padding: 15px 0;
		.table-detail-balance{
			thead{
				tr{
					th{
						padding: 8px 15px;
					}
				}
			}
			tbody{
				tr{
					td{
						padding: 8px 15px;
					}
				}
			}
		}
		h5{
			font-weight: normal;
			text-align: right;
			margin: 0 15px;
			span{
				font-size: 1.17em;
				color: $yellow-normal;
				font-weight: bold;
				padding-left: 10px;
			}
		}
	}
}
/* END: DETAIL BALANCE MODAL */

/* END: ADD MENU MODAL */
#addMenuModal{
	.form-add-menu{
		.form-group{
			.form-control{
				background-color: $grey;
				@include border-radius-null;
				@include box-shadow;				
				&:focus{
					outline: none;
					border: 1px solid $grey;
				}
			}
			textarea{
				height: 100px;
			}
		}
		.category-group{
			padding: 0 15px 15px 15px;
			border-bottom: 1px dashed $grey;
			.form-control{
				font-size: 1.25em;
				height: 48px;
				padding-left: 15px;	
			}
		}
		.add-menu-content{
			border-bottom: 1px dashed $grey;
			margin-bottom: 15px;
			.price-group, .button-group{
				float: right;
			}
			.button-group{
				margin-top: 80px;
				.btn{
					background: $grey-normal;
					color: $white;
					font-weight: bold;
					padding: 1px 10px;
					@include border-radius-value-high;			    
					&:hover, &:focus{
						outline: none;
						@include transition;
						background: darken($grey-normal, 8%);
					}
					img{
						padding-right: 5px;
					}
				}
				.btn-add-per-item{
					display: none;
				}
				.btn-remove-per-item{
					margin-left: 8px;
				}
			}	
			&:last-child{
				.button-group{
					.btn-add-per-item{
						display: inline-block;
					}
				}
			}		
		}
		.btn-save-add-menu-content{
		    font-size: 1.17em;	
			background: $grey-normal;
			color: $white;
			font-weight: bold;
			@include border-radius-value-high;
			display: block;
			margin: 0 auto;
		    padding: 5px 25px;
			&:hover, &:focus{
				outline: none;
				@include transition;
				background: darken($grey-normal, 8%);
			}
		}
	}
}
@media screen and (max-width: 767px){
	#addMenuModal{
		.form-add-menu{
			.add-menu-content{
				padding-bottom: 15px;
				.price-group, .button-group{
					float: none;
				}
				.button-group{
					margin-top: 0;
				}
			}
		}
	}
}
/* END: ADD MENU MODAL */

/* EDI MENU MODAL */
#editMenuModal{
	.modal-title{
		img{
			margin-right: 5px;
		}
	}
	.change-category-container{
		 padding: 10px 15px;
		 ul{
		 	padding: 0;
		 	li{
		 		list-style-type: none;
		 		display: inline-block;
		 		margin-bottom: 10px;
		 		a{
		 			padding: 6px 20px;
		 			display: block;
					background: lighten($grey-normal, 8%);
					color: $white;
					margin-right: 5px;
					font-weight: bold;
					@include border-radius-value;			    
					&:hover, &:focus{
						text-decoration: none;
						@include transition;
						background: $grey-normal;
		 			}
		 		}
				&.active{
					a{
						background-color: $grey-normal;
					}
				}
		 	}
		}
	}
	.form-edit-menu-category{
		.form-group{
			.form-control{
				background-color: $grey;
				@include border-radius-null;
				@include box-shadow;				
				&:focus{
					outline: none;
					border: 1px solid $grey;
				}
			}
			textarea{
				height: 100px;
			}
		}
		.edit-menu-title{
			border-top: 1px solid $grey;
			h3{
				padding: 10px 15px;
				margin: 0;
			}
			border-bottom: 1px dashed $grey;
			margin-bottom: 20px;
		}
		.edit-menu-content{
			border-bottom: 1px dashed $grey;
			margin-bottom: 15px;
			.price-group, .button-group{
				float: right;
			}
			.button-group{
				margin-top: 80px;
				.btn{
					background: $grey-normal;
					color: $white;
					font-weight: bold;
					padding: 1px 10px;
					@include border-radius-value-high;			    
					&:hover, &:focus{
						outline: none;
						@include transition;
						background: darken($grey-normal, 8%);
					}
					img{
						padding-right: 5px;
					}
				}
				.btn-remove-per-item-edit{
					margin-left: 8px;
				}
			}			
		}
		.btn-save-edit-menu-content{
		    font-size: 1.17em;	
			background: $grey-normal;
			color: $white;
			font-weight: bold;
			@include border-radius-value-high;
			display: block;
			margin: 0 auto;
		    padding: 5px 25px;
			&:hover, &:focus{
				outline: none;
				@include transition;
				background: darken($grey-normal, 8%);
			}
		}		
	}
}
@media screen and (max-width: 767px){
	#editMenuModal{
		.change-category-container{
			 ul{
			 	font-size: 0.9em;
			 	li{
			 		a{
			 			padding: 4px 8px;
						margin-right: 2px;
			 		}
			 	}
			}
		}
		.form-edit-menu-category{
			.edit-menu-content{
				padding-bottom: 15px;
				.price-group, .button-group{
					float: none;
				}
				.button-group{
					margin-top: 0;
				}
			}
		}
	}
}
/* END: EDIT MENU MODAL */

/* FOOD PHOTO CONTAINER MODAL */
#foodPhotoContainerModal{
	.food_photo_name_url{
	    width: 75%;
	    margin: 0 auto;
	    display: block;		
	}
	.form-delete-food-photo{
		.btn-delete-food-photo{
			margin: 20px auto 0 auto;
			display: block;
			position: relative;
			background: $grey-normal;
			color: $white;
			padding: 4px 20px 4px 30px;
			font-weight: bold;
			@include border-radius-value-high;		
			&:hover, &:focus{
				outline: none;
				@include transition;
				background: darken($grey-normal, 8%);
			}
			img{
				position: absolute;
				top: 8px;
				left: 14px;
			}						
		}		
	}
}
/* END: FOOD PHOTO CONTAINER MODAL */

/* INSIDE RESTAURANT PHOTO CONTAINER MODAL */
#insideRestaurantPhotoContainerModal{
	.inside_restaurant_photo_name_url{
	    width: 75%;
	    margin: 0 auto;
	    display: block;		
	}
	.form-delete-inside-restaurant-photo{
		.btn-delete-inside-restaurant-photo{
			margin: 20px auto 0 auto;
			display: block;
			position: relative;
			background: $grey-normal;
			color: $white;
			padding: 4px 20px 4px 30px;
			font-weight: bold;
			@include border-radius-value-high;		
			&:hover, &:focus{
				outline: none;
				@include transition;
				background: darken($grey-normal, 8%);
			}
			img{
				position: absolute;
				top: 8px;
				left: 14px;
			}						
		}		
	}
}
/* END: INSIDE RESTAURANT PHOTO CONTAINER MODAL */

/* PRINT REPORT MODAL */
#printReportModal{
	.form-print-report-ok{
		input{
			@include border-radius-null;
			margin-bottom: 15px;
		    @include box-shadow;
		    &:focus{
		    	border: 1px solid $black;
		    }			
		}
		.btn-print-report-ok{
			display: block;
		    width: 100%;
		    background: $yellow;
		    color: $white;
		    font-weight: bold;
		    margin-bottom: 15px;
		    &:hover, &:focus{
		    	outline: none;
		    	@include transition;
		    	background: darken($yellow, 8%);
		    }
		}
	}
}
/* END: PRINT REPORT MODAL */

/* ADD ACCOUNT BANK MODAL */
#addAccountBankModal{
	.form-add-bank{
		padding: 0 15px;
		.bank_name-dropdown{
			label{
				line-height: 34px;
				padding-left: 0;	
				margin-bottom: 0;	
				font-weight: normal;
			}		
			.col-sm-4{
				padding-right: 0;
			}
			.col-sm-8{
				padding-left: 0;
			}		
			.form-group{
				margin-bottom: 0;
				select{
					background: $grey-placeholder;
					@include border-radius-null;
					@include box-shadow;
					margin-bottom: 8px;
					padding: 0 12px;
					&:focus{
						border: 1px solid $grey-placeholder;
					}
				}
			}		
		}
		.form-group{
			margin-bottom: 8px;
			.col-sm-4{
				padding-right: 0;
			}
			.col-sm-8{
				padding-left: 0;
			}
			label{
				line-height: 34px;
				padding-left: 0;	
				margin-bottom: 0;
				font-weight: normal;				
			}
			.form-control{
				@include border-radius-null;
				@include box-shadow;
				background: $grey-placeholder;
				&:focus{
					border: 1px solid $grey-placeholder;
				}
			}
		}
		.btn-save{
			margin: 20px auto 5px auto;
			display: block;
			width: 100%;
		    background: $yellow;
		    color: $white;
		    padding: 5px;
		    font-size: 1.17em;
		    font-weight: bold;
		    &:hover, &:focus{
		    	outline: none;
		    	@include transition;
		    	background: darken($yellow, 8%);
		    }	    		
		}		
	}	
}
/* END: ADD ACCOUNT BANK MODAL */

/* EDIT ACCOUNT BANK MODAL */
#editAccountBankModal{
	.form-edit-bank{
		padding: 0 15px;
		.bank_name-dropdown{
			label{
				line-height: 34px;
				padding-left: 0;	
				margin-bottom: 0;	
				font-weight: normal;					
			}		
			.col-sm-4{
				padding-right: 0;
			}
			.col-sm-8{
				padding-left: 0;
			}		
			.form-group{
				margin-bottom: 0;
				select{
					background: $grey-placeholder;
					@include border-radius-null;
					@include box-shadow;
					margin-bottom: 8px;
					padding: 0 12px;
					&:focus{
						border: 1px solid $grey-placeholder;
					}
				}
			}		
		}
		.form-group{
			margin-bottom: 8px;
			.col-sm-4{
				padding-right: 0;
			}
			.col-sm-8{
				padding-left: 0;
			}
			label{
				line-height: 34px;
				padding-left: 0;	
				margin-bottom: 0;
				font-weight: normal;
			}
			.form-control{
				background: $grey-placeholder;				
				@include border-radius-null;
				@include box-shadow;
				&:focus{
					border: 1px solid $grey-placeholder;
				}
			}
		}
		.btn-save{
			margin: 20px auto 5px auto;
			display: block;
			width: 100%;
		    background: $yellow;
		    color: $white;
		    padding: 5px;
		    font-size: 1.17em;
		    font-weight: bold;
		    &:hover, &:focus{
		    	outline: none;
		    	@include transition;
		    	background: darken($yellow, 8%);
		    }	    		
		}		
	}	
}
/* END: EDIT ACCOUNT BANK MODAL */
